<div [ngSwitch]="headerType">
  <nav *ngSwitchCase="'default'" class="navbar">
    <h1><a routerLink="">Web-Shop</a></h1>
    <div class="nav-search">
      <input
        [(ngModel)]="searchQuery"
        (input)="onSearchChange()"
        type="text"
        placeholder="search"
      />
      <button type="button" (click)="toSearch()" class="btn btn-light">
        Search
      </button>
      <ul
        class="filtered-product-list"
        *ngIf="filteredProducts.length > 0 && showSearch"
      >
        <li class="filtered-product" *ngFor="let product of filteredProducts">
          {{ product.name }}
        </li>
      </ul>
    </div>
    <div class="navlinks">
      <a [routerLink]="['seller/login']">Seller</a>
      <a routerLink="">Home</a>
      <a href="#">Login</a>
      <a href="#">Cart</a>
    </div>
  </nav>

  <nav *ngSwitchCase="'seller'" class="navbar">
    <h1><a routerLink="">Web-Shop</a></h1>
    <!-- <div class="nav-search"></div> -->
    <div class="navlinks">
      <a [routerLink]="['seller', 'add-product']">Add</a>
      <a [routerLink]="['seller', 'home']">List</a>
      <a (click)="sellerLogout()">Logout</a>
      <a [routerLink]="['seller', 'home']">{{ sellerName | titlecase }}</a>
    </div>
  </nav>
</div>
