.navbar {
  background-color: rgb(5, 23, 29);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 20px;
  padding-left: 20px;
  color: white;
}

.navbar h1 {
  font-size: 1.5rem;
  flex: 1;
}

.navbar h1 a {
  color: white;
  text-decoration: none;
}

.nav-search {
  display: flex;
  flex: 3;
  justify-content: center;
  position: relative;
}

.nav-search input {
  width: 80%;
}

.navlinks {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
}

.navlinks a {
  color: white;
  text-decoration: none;
  margin-right: 7px;
  margin-left: 7px;
}

.navlinks a:hover {
  cursor: pointer;
}

.filtered-product-list {
  position: absolute;
  z-index: 10;
  top: 100%;
  left: 3%;
  color: black;
  width: 83%;
  max-height: 300px;
  border-collapse: collapse;
  overflow-y: auto;
}

.filtered-product {
  list-style: none;
  padding: 5px;
  border: 1px solid black;
  width: 100%;
  background-color: white;
}

.filtered-product:hover {
  cursor: pointer;
  background-color: rgb(176, 219, 233);
}
