<div class="seller-auth" *ngIf="!isLoading; else loading">
  <h1>Seller Login</h1>
  <form
    #sellerLoginForm="ngForm"
    (ngSubmit)="sellerLoginFn(sellerLoginForm)"
    class="seller-auth-form"
  >
    <div class="form-group">
      <input
        required
        class="form-control"
        type="text"
        name="email"
        placeholder="Enter your Email"
        [(ngModel)]="sellerLogin.email"
        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}"
        #emailControl="ngModel"
      />
      <!--email control -->
      <div
        *ngIf="emailControl.errors?.['required'] && emailControl.dirty"
        class="alert alert-danger"
      >
        Email is required.
      </div>
      <div
        *ngIf="emailControl.errors?.['pattern'] && emailControl.dirty"
        class="alert alert-danger"
      >
        Please enter a valid email address.
      </div>
    </div>

    <div class="form-group">
      <input
        required
        class="form-control"
        type="text"
        name="password"
        minlength="6"
        maxlength="12"
        placeholder="Enter your Password"
        [(ngModel)]="sellerLogin.password"
        #passwordControl="ngModel"
      />
    </div>
    <div
      class="alert alert-danger"
      *ngIf="passwordControl.errors?.['required'] && passwordControl.dirty"
    >
      password is required.
    </div>
    <div
      class="alert alert-danger"
      *ngIf="passwordControl.errors?.['minlength'] && passwordControl.dirty"
    >
      password should have at least
      {{ passwordControl.errors?.['minlength'].requiredLength }} characters.
    </div>

    <button
      [disabled]="!sellerLoginForm.valid"
      class="btn btn-success"
      type="submit"
    >
      Login
    </button>
  </form>
  <div class="switch-form">
    <p>Do not have an account? <a routerLink="/seller-signup">Sign Up</a></p>
  </div>
</div>
<ng-template #loading>
  <h1>loading...</h1>
</ng-template>
