<div class="welcome-text">
  <h1>Welcome to the E-Commerce App</h1>
</div>
<owl-carousel-o [options]="customOptions">
  <ng-container *ngFor="let slide of topProducts; let i = index">
    <ng-template carouselSlide [id]="slide.id || i.toString()">
      <div class="carousel-slide-content">
        <img
          class="carousel-image"
          [src]="slide.image"
          [alt]="slide.name"
          [title]="slide.name"
        />
        <div class="carousel-caption">
          {{ slide.name }}
        </div>
      </div>
    </ng-template>
  </ng-container>
</owl-carousel-o>
